.main-page {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main-header {
  margin: 5vh 0 50px 0;
  flex-grow: 1;
}

.main-title {
  font-family: 'NasalizationRg-Regular' !important;
  font-size: 2.7rem !important;
}

.main-subtitle {
  font-family: 'Video Medium' !important;
}

.main-body {
  flex-grow: 4;
}

.loading-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-card {
  margin-top: 5px;
}

.image-date {
  margin: 5px 0px !important;
}

.like-button {
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .image-card {
    max-width: 100vw !important;
  }
}
